<h1>Welcome to the surfboard quiver app!</h1>
<h2>For families or surf clubs looking to keep organized their member's boards.</h2>
<hr id="firstline"></hr>

<p id="welcomep"><a href="/signup">Sign Up</a> or <a href="/login">Log In</a></p>
<img src="images/surf-2.png">
