
<h2>Surfboard Owners</h2>

<% @surfboard_owners.each do |surfboard_owner| %>

	<ul>
		<li><%= surfboard_owner.first_name %> <%=surfboard_owner.last_name %></li>
	<% surfboard_owner.surfboards.each do |surfboard| %>
		<ul>
			<li><a href = "/surfboards/<%= surfboard.id %>"><%= surfboard.brand_name %></a></li>
		</ul>

		<% end %>
			<br>
	</ul>

<% end %>
