
<h2>Create A New Surfboard To Add To Your Quiver</h2>
<form action="/surfboards" method="POST">
  <label>Brand Name</label>
	<input type="text" name="brand_name">

	<label>Shaper</label>
	<input type="text" name="shaper">

	<label>Length</label>
	<input type="text" name="length">

  <label>Width</label>
  <input type="text" name="width">

  <label>Thickness</label>
  <input type="text" name="thickness">

  <label>Tail</label>
  <input type="text" name="tail">

  <label>Type of Surf</label>
  <input type="text" name="type_of_surf">

	<input type="submit" value="Create Your Surfboard">
</form>
